<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>

<div class="popup gee-popup">
  <div class="popup-inner">
    <a class="close-button popup-close-button">
      &times;
    </a>
    <div class="popup-header">
      <h3 class="popup-title"></h3>
    </div>
    <p class="paragraph" ></p>
    <form class="user-content">
      <div class="input">
        <input class="form-control email" type="email" placeholder="Your Email">
      </div>
      <input type="submit" class="btn" value="Sign in"></input>
    </form>
  </div>
</div>

{% include scripts.html %}
