.post-list {
  h2 {
    text-align: center;
  }

  img {
    width: 100%
  }

  .center img {
    width: auto;
  }
}

.twitter-share-button {
  vertical-align: middle;
}

.mobile {
  display: none
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  .site-title.desktop {
    display: none
  }

  .site-title.mobile {
    display: block
  }
}

.post.page h1 {
  text-align: center;
}

.post.page {
  .follow-me {
    text-align: center;
  }

  div.tldr {
    color: gray;
  }
}

.wrapper {
  .call-to-action {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.center {
  text-align: center;
}

.rounded img {
  border-radius: 50%;
}

.annoucement {
  background-color: lightgray;
  padding: 10px;
}
