.post-list {
  h2 {
    text-align: center;
  }

  img {
    width: 100%
  }

  .center img {
    width: auto;
  }
}

.mobile {
  display: none
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  .site-title.desktop {
    display: none
  }

  .site-title.mobile {
    display: block
  }
}

.post.page h1 {
  text-align: center;
}

.post.page div.tldr {
  color: gray;
}

.center {
  text-align: center;
}

.rounded img {
  border-radius: 50%;
}

.annoucement {
  background-color: lightgray;
  padding: 10px;
}
